html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
}

main {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace,monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b,strong {
  font-weight: bolder
}

code,kbd,samp {
  font-family: monospace,monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

button,input,optgroup,select,textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,input {
  overflow: visible
}

button,select {
  text-transform: none
}


[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

[hidden],template {
  display: none
}

@font-face {
  font-family: Inter;
  src: url(../fonts/231f444dc08212ed0133d8ea5c95c670.woff2) format("woff2"),url(a0e8358d58e034584e0df3a2e85df70d.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Inter;
  src: url(../fonts/a90c493e75dbd61aec1195dbb9bb6b06.woff2) format("woff2"),url(ea2c76b525641c2051cdf7d930e465ba.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Inter;
  src: url(../fonts/943a67750859470af9d9989ae91aef35.woff2) format("woff2"),url(6b5a42f0603ea013e7099c2160e007e7.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Inter;
  src: url(../fonts/920533ddd1d6ea543f7fc3e89b4556bb.woff2) format("woff2"),url(0b0032825214b711197bfcd54966edbb.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

body,html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font: 22px Inter,sans-serif;
  line-height: 33px;
  letter-spacing: -.02em;
  font-weight: 400;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  background: #1b2025
}

@media (max-width: 1000px) {
  body,html {
      font-size:16px;
      line-height: 150%
  }
}

.lazy {
  transition: filter .1s;
  will-change: filter
}

.lazy:not(.loaded) {
  filter: blur(50px)
}

.shimmer {
  border-radius: 12px;
  background: hsla(0,0%,100%,.06);
  position: relative;
  color: transparent!important;
  overflow: hidden
}

.shimmer:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,transparent,hsla(0,0%,100%,.12) 50%,transparent);
  animation: a 1.5s infinite
}

@keyframes a {
  0% {
      transform: translateX(-100%)
  }

  to {
      transform: translateX(100%)
  }
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px
}

a:hover {
  text-decoration: none
}

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  color: #8996a3;
  padding: 24px 80px 16px;
  width: 100%;
  box-sizing: border-box;
  margin: 40px auto 0;
  max-width: 1440px;
  transition: transform .1s ease-in-out;
  will-change: transform;
  position: relative;
  gap: 8px;
  z-index: 5
}

@media (max-width: 1000px) {
  .header {
      padding:10px 18px 5px 24px;
      margin-top: 0
  }

  .header.sticky,.intro .header.sticky {
      position: fixed;
      top: 0;
      background: #1b2025;
      padding-top: 8px;
      padding-bottom: 8px
  }

  .header.sticky .header-logo {
      color: #fff
  }

  body:not(.nav-visible) .header.sticky .header-nav-handler-icon {
      background-image: linear-gradient(#fff,#fff)
  }

  .header.hidden {
      transform: translateY(-100%)
  }
}

.header-logo {
  display: block;
  color: #161717;
  position: relative;
  z-index: 6
}

@media (max-width: 1000px) {
  .header-logo {
      margin-right:auto
  }
}

.header-logo-image {
  display: block
}

@media (max-width: 1000px) {
  .header-logo-image {
      height:24px;
      width: auto
  }
}

.header-stake {
  display: none;
  padding: 6px 16px;
  background: #a684ff;
  border: none;
  text-decoration: none;
  border-radius: 40px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  z-index: 3;
  position: relative;
  overflow: hidden
}

.header-nav {
  display: -ms-flexbox;
  display: flex;
  gap: 40px
}

.header-nav-item {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -.02em;
  text-decoration: none
}

.header-nav-item:hover {
  color: #fff
}

@media (max-width: 1000px) {
  .header-nav {
      position:fixed;
      top: 8px;
      left: 8px;
      right: 8px;
      overflow: scroll;
      transform: translateX(100%) rotate(5deg);
      opacity: 0;
      transition: opacity .2s,transform .2s,rotate .2s;
      background: #d8faff;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 12px;
      padding: 130px 16px 100px;
      box-sizing: border-box;
      gap: 20px
  }
}

.header-nav-handler {
  display: none
}

@media (max-width: 1000px) {
  .header-nav-handler {
      display:-ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      width: 36px;
      height: 36px;
      color: #fff;
      padding: 0;
      outline: 0;
      border: 0;
      background: transparent;
      cursor: pointer;
      z-index: 6;
      margin: auto 0
  }

  .header-nav-handler-icon {
      position: relative;
      display: block;
      font-size: 20px;
      width: 1em;
      height: 1.5px;
      background-image: linear-gradient(#fff,#fff);
      background-repeat: no-repeat;
      transform: scale(1);
      background-size: 100% 100%;
      will-change: transform,background-size;
      transition: transform .2s,background-size .2s;
      border-radius: 2px
  }

  .header-nav-handler-icon:active {
      transform: scale(.9)
  }

  .header-nav-handler-icon:after,.header-nav-handler-icon:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: inherit;
      border-radius: inherit;
      will-change: inherit;
      transition: inherit
  }

  .header-nav-handler-icon:before {
      transform: translateY(-.35em) rotate(0)
  }

  .header-nav-handler-icon:after {
      transform: translateY(.35em) rotate(0)
  }

  body.nav-visible .header-nav-handler-icon {
      background-size: 0 100%
  }

  body.nav-visible .header-nav-handler-icon:before {
      transform: translateY(0) rotate(45deg)
  }

  body.nav-visible .header-nav-handler-icon:after {
      transform: translateY(0) rotate(-45deg)
  }
}

body.text-page-body .header-logo-image {
  color: #fff
}

@media (max-width: 1000px) {
  body.nav-visible {
      overflow:hidden
  }

  body.nav-visible .nav-fade {
      position: fixed;
      z-index: 4;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0,0,0,.2)
  }

  body.nav-visible .header {
      color: #161717
  }

  body.nav-visible .header-nav {
      transform: translateX(0) rotate(0);
      opacity: 1;
      z-index: 5
  }

  body.nav-visible .header-nav-handler,body.nav-visible .header-nav-item {
      color: #161717
  }

  body.nav-visible .header-nav-handler-icon {
      background-image: linear-gradient(#161717,#161717)
  }

  body.nav-visible .header-logo-image {
      color: #161717
  }
}

.intro {
  color: #161717;
  position: relative;
  padding: 40px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .intro {
      padding:8px
  }
}

.intro-container {
  max-width: 1360px;
  margin: 0 auto;
  background: #d8faff;
  border-radius: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center
}

@media (max-width: 1000px) {
  .intro-container {
      border-radius:12px
  }
}

.intro .header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 5;
  color: #161717
}

@media (max-width: 1000px) {
  .intro .header {
      top:8px
  }
}

.intro .header-nav-item:hover {
  color: #161717
}

.intro .header-nav-handler {
  color: #003060
}

.intro .header-nav-handler-icon {
  background-image: linear-gradient(#161717,#161717)
}

.intro-content {
  padding: 153px 0 93px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .intro-content {
      padding:80px 0 20px
  }
}

.intro-preloader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 184px;
  margin: auto;
  opacity: 1
}

@media (max-width: 1000px) {
  .intro-preloader {
      bottom:90px
  }
}

@media (max-width: 535px) {
  .intro-preloader {
      bottom:172px
  }
}

@media (max-width: 1000px) {
  .intro-title-1 {
      font-size:8.97vw;
      line-height: 8.97vw
  }
}

.intro-coins {
  position: absolute;
  left: 0;
  top: 153px;
  width: 100vw;
  z-index: 2;  
  transform: scaleX(1.5) skew(0,10deg) scale(1.2)
}

@media (max-width: 1000px) {
  .intro-coins {
      top:70px
  }
}

.intro-title-2 {
  font-weight: 700;
  font-size: 160px;
  line-height: 186px;
  text-align: center;
  letter-spacing: -.015em;
  position: relative;
  z-index: 3;
  opacity: 1;
}

@media (max-width: 1440px) {
  .intro-title-2 {
      font-size:11.11vw;
      line-height: 12.91vw
  }
}

@media (max-width: 1000px) {
  .intro-title-2 {
      font-size:10.76vw;
      line-height: 12.56vw
  }
}

.intro-title-2-icon {
  width: .75em;
  height: auto
}

.intro-description {
  max-width: 628px;
  margin-top: 8px;
  text-align: center;
  position: relative;
  z-index: 3;
  opacity: 1;
}

@media (max-width: 1000px) {
  .intro-description {
      max-width:193px;
      font-size: 15px;
      line-height: 22px
  }
}

.intro-button {
  margin-top: 32px;
  padding: 18px 40px;
  background: #161717;
  border: none;
  text-decoration: none;
  border-radius: 40px;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  z-index: 3;
  position: relative;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .intro-button {
      padding:10px 24px;
      margin-top: 26px;
      font-size: 15px
  }
}

.intro-button:after {
  content: "";
  background: hsla(0,0%,100%,.1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s
}

.intro-button:hover:after {
  opacity: 1
}

.intro-counters {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
  padding: 72px 40px 0;
  position: relative;
  z-index: 3
}

@media (max-width: 1200px) {
  .intro-counters {
      display:-ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: center;
      justify-content: center
  }
}

@media (max-width: 1000px) {
  .intro-counters {
      padding:32px 16px 0;
      -ms-flex-pack: start;
      justify-content: start
  }
}

.intro-counters-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  text-align: center
}

@media (max-width: 1000px) {
  .intro-counters-item {
      text-align:left;
      gap: 2px
  }
}

.intro-counters-item-value {
  font-weight: 400;
  font-size: 80px;
  line-height: 72px;
  letter-spacing: -.01em;
  color: #c6fefb
}

@media (max-width: 1000px) {
  .intro-counters-item-value {
      font-size:32px;
      line-height: 100%
  }
}

.intro-counters-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff
}

@media (max-width: 1000px) {
  .intro-counters-item-title {
      font-size:14px;
      line-height: 24px
  }
}

body.loaded .intro-preloader {
  transition: opacity .3s,visibility .3s;
  opacity: 0;
  visibility: hidden
}

body.loaded .intro-title-1 {
  transition: opacity 1s;
  opacity: 1
}

body.loaded .intro-coins {
  transition: opacity 1s 1s,transform 1s 1s;
  opacity: 1;
  transform: scaleX(1)
}

body.loaded .intro-description,body.loaded .intro-title-2 {
  transition: opacity 1s .5s;
  opacity: 1
}

body.loaded .intro-button {
  transition: opacity 0s .5s;
  opacity: 1
}

.about {
  padding-top: 100px
}

@media (max-width: 1000px) {
  .about {
      padding-top:56px
  }
}

.about-container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

@media (max-width: 1000px) {
  .about-container {
      padding:0 24px
  }
}

.about-content {
  max-width: 628px;
  -ms-flex-item-align: start;
  align-self: flex-start
}

.about-sup-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a684ff
}

@media (max-width: 1000px) {
  .about-sup-title {
      font-size:15px
  }
}

.about-title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 44px;
  line-height: 52px
}

@media (max-width: 1000px) {
  .about-title {
      font-size:24px;
      line-height: 32px;
      margin-top: 0
  }
}

.about-description {
  margin-top: 12px
}

@media (max-width: 1000px) {
  .about-description {
      font-size:15px;
      line-height: 22px;
      margin-top: 6px
  }
}

.about-quote {
  max-width: 628px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: 78px;
  border-left: 3px solid #a684ff;
  padding-left: 24px;
  margin-left: 36px;
  font-size: 44px;
  line-height: 52px
}

@media (max-width: 1000px) {
  .about-quote {
      margin-top:64px;
      font-size: 24px;
      line-height: 32px;
      padding-left: 16px
  }
}

.trust {
  padding-top: 140px
}

@media (max-width: 1000px) {
  .trust {
      padding-top:64px
  }
}

.trust-container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

@media (max-width: 1000px) {
  .trust-container {
      padding:0 24px
  }
}

.trust-content {
  max-width: 628px;
  -ms-flex-item-align: start;
  align-self: flex-start
}

.trust-sup-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a684ff
}

@media (max-width: 1000px) {
  .trust-sup-title {
      font-size:15px
  }
}

.trust-title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 44px;
  line-height: 52px
}

@media (max-width: 1000px) {
  .trust-title {
      font-size:24px;
      line-height: 32px;
      margin-top: 0
  }
}

.trust-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 64px
}

@media (max-width: 1200px) {
  .trust-cards {
      grid-template-columns:1fr 1fr
  }
}

@media (max-width: 1000px) {
  .trust-cards {
      margin-top:16px
  }
}

@media (max-width: 800px) {
  .trust-cards {
      display:-ms-flexbox;
      display: flex;
      gap: unset;
      -ms-flex-direction: column;
      flex-direction: column;
      width: calc(100% + 24px);
      margin-left: -12px
  }
}

.trust-cards-item {
  background: #2b343f;
  border-radius: 16px;
  padding: 32px 32px 24px;
  height: 358px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  -ms-flex-align: start;
  align-items: flex-start
}

@media (max-width: 800px) {
  .trust-cards-item {
      width:54.6%;
      height: auto;
      padding: 12px 16px
  }
}

.trust-cards-item:nth-child(2n) {
  margin-top: 106px
}

@media (max-width: 1200px) {
  .trust-cards-item:nth-child(2n) {
      margin-top:0
  }
}

@media (max-width: 800px) {
  .trust-cards-item:nth-child(2n) {
      -ms-flex-item-align:end;
      align-self: flex-end;
      background: #36414f;
      margin-top: -71px;
      z-index: 1
  }
}

@media (max-width: 800px) {
  .trust-cards-item:nth-child(odd):not(:first-child) {
      margin-top:-44px
  }
}

.trust-cards-item-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  opacity: .9
}

@media (max-width: 800px) {
  .trust-cards-item-title {
      font-size:20px;
      line-height: 32px
  }
}

.trust-cards-item-description {
  font-size: 20px;
  opacity: .9;
  margin-top: 8px;
  margin-bottom: 12px
}

@media (max-width: 800px) {
  .trust-cards-item-description {
      font-size:15px;
      line-height: 21px;
      margin-top: 0
  }
}

.trust-cards-item-icon {
  margin-top: auto;
  height: 64px;
  width: auto;
  max-width: 238px
}

@media (max-width: 800px) {
  .trust-cards-item-icon {
      height:40px;
      max-width: 146px
  }
}

.trust-explanation {
  width: calc(50% - 24px);
  margin-left: auto;
  margin-top: 80px
}

@media (max-width: 1000px) {
  .trust-explanation {
      width:100%;
      margin-top: 42px;
      font-size: 15px;
      line-height: 22px
  }
}

.trust-explanation-icons {
  margin-top: 32px;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width: 1000px) {
  .trust-explanation-icons {
      margin-top:16px;
      gap: 24px
  }
}

@media (max-width: 1000px) {
  .trust-explanation-icons-item {
      width:32px;
      height: auto
  }
}

@media (max-width: 1000px) {
  .trust-explanation-icons-item.okx {
      width:60px
  }
}

@media (max-width: 1000px) {
  .trust-explanation-icons-item.sr {
      width:40px
  }
}

.how {
  padding-top: 140px
}

@media (max-width: 1000px) {
  .how {
      padding-top:64px
  }
}

.how-container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

@media (max-width: 1000px) {
  .how-container {
      padding:0 24px
  }
}

.how-content {
  max-width: 628px;
  -ms-flex-item-align: start;
  align-self: flex-start
}

.how-sup-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a684ff
}

@media (max-width: 1000px) {
  .how-sup-title {
      font-size:15px
  }
}

.how-title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 44px;
  line-height: 52px
}

@media (max-width: 1000px) {
  .how-title {
      font-size:24px;
      line-height: 32px;
      margin-top: 0
  }
}

.how-steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 80px
}

@media (max-width: 1200px) {
  .how-steps {
      grid-template-columns:1fr 1fr;
      gap: 36px
  }
}

@media (max-width: 800px) {
  .how-steps {
      grid-template-columns:1fr
  }
}

.how-steps-item-num {
  font-weight: 500;
  font-size: 96px;
  line-height: 74px;
  color: #c6fefb
}

@media (max-width: 1000px) {
  .how-steps-item-num {
      font-size:56px;
      line-height: 56px
  }
}

.how-steps-item-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  margin-top: 29px;
  opacity: .9
}

@media (max-width: 1000px) {
  .how-steps-item-title {
      font-size:20px;
      line-height: 32px;
      margin-top: 8px
  }
}

.how-steps-item-description {
  font-size: 20px;
  opacity: .9;
  margin-top: 8px
}

@media (max-width: 1000px) {
  .how-steps-item-description {
      font-size:15px;
      line-height: 21px;
      margin-top: 0
  }
}

.faq {
  padding-top: 140px
}

@media (max-width: 1000px) {
  .faq {
      padding-top:64px
  }
}

.faq a {
  color: #a684ff;
  text-decoration: none
}

.faq-container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr
}

@media (max-width: 1000px) {
  .faq-container {
      padding:0 24px;
      grid-template-columns: 1fr
  }
}

.faq-content {
  padding-right: 40px
}

.faq-sup-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a684ff
}

@media (max-width: 1000px) {
  .faq-sup-title {
      font-size:15px
  }
}

.faq-title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 44px;
  line-height: 52px
}

@media (max-width: 1000px) {
  .faq-title {
      font-size:24px;
      line-height: 32px;
      margin-top: 0
  }
}

.faq-list {
  padding: 24px 0
}

@media (max-width: 1000px) {
  .faq-list {
      padding:12px 0
  }
}

.faq-list-item {
  padding: 24px 0;
  border-bottom: 1px solid #2b343f
}

@media (max-width: 1000px) {
  .faq-list-item:nth-last-child(2) {
      border-bottom:none
  }
}

.faq-list-item-question {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 16px;
  cursor: pointer;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  opacity: .9
}

@media (max-width: 1000px) {
  .faq-list-item-question {
      font-size:20px;
      line-height: 28px;
      -ms-flex-align: center;
      align-items: center
  }
}

.faq-list-item-question-icon {
  margin: 4px 0 0 auto;
  color: #8d8f92;
  transition: transform .3s;
  will-change: transform
}

@media (max-width: 1000px) {
  .faq-list-item-question-icon {
      margin-top:0
  }
}

.faq-list-item.enrolled .faq-list-item-question-icon {
  transform: rotate(-180deg)
}

.faq-list-item-answer {
  opacity: 0;
  max-height: 0;
  transition: opacity .3s,max-height .3s;
  will-change: opacity,max-height;
  overflow: hidden;
  font-size: 20px;
  line-height: 150%;
  opacity: .9
}

@media (max-width: 1000px) {
  .faq-list-item-answer {
      font-size:15px;
      line-height: 140%
  }
}

.faq-list-item.enrolled .faq-list-item-answer {
  opacity: 1;
  max-height: 1000px
}

.faq-link {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  padding: 24px 0;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width: 1000px) {
  .faq-link {
      font-size:20px;
      line-height: 28px
  }
}

@media (max-width: 1000px) {
  .faq-link-icon {
      height:20px
  }
}

.banner {
  padding: 40px 40px 0
}

@media (max-width: 1000px) {
  .banner {
      padding:64px 16px 0
  }
}

.banner-container {
  max-width: 900px;
  padding: 10px 30px;
  box-sizing: border-box;
  border-radius: 24px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 52px;
  background: #d8faff url(../img/banner-img.svg) no-repeat top -120px right -75px;
  background-size: 693px auto;
  color: #161717
}

@media (max-width: 1000px) {
  .banner-container {
      padding:16px;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 16px;
      -ms-flex-align: start;
      align-items: flex-start;
      background-size: 347px auto;
      background-position: bottom -57px right -85px
  }
}

.banner-title {
  max-width: 600px;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px
}

@media (max-width: 1000px) {
  .banner-title {
      font-size:24px;
      line-height: 32px
  }
}

.banner-buttons {
  display: -ms-flexbox;
  display: flex;
}

.banner-buttons-item {
  background: #161717;
  color: #fff;
  padding: 18px 32px 18px 26px;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden
}

@media (max-width: 1000px) {
  .banner-buttons-item {
      padding:10px 20px 10px 16px;
      font-size: 15px;
      line-height: 24px
  }
}

.banner-buttons-item:after {
  content: "";
  background: hsla(0,0%,100%,.1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s
}

.banner-buttons-item:hover:after {
  opacity: 1
}

@media (max-width: 1000px) {
  .banner-buttons-item-icon {
      width:20px;
      height: auto
  }
}

.text-page {
  margin-top: 64px
}

@media (max-width: 1000px) {
  .text-page {
      margin-top:52px
  }
}

.text-page h1,.text-page h2,.text-page h3,.text-page h4,.text-page h5,.text-page h6 {
  line-height: normal
}

.text-page table {
  border-spacing: 0;
  border-collapse: collapse;
  max-width: 100%;
  overflow-x: auto;
  display: block
}

.text-page table th {
  background: hsla(0,0%,100%,.03);
  padding: 1em;
  text-align: left
}

.text-page table tbody tr:first-child td {
  padding-top: 1em
}

.text-page table td {
  vertical-align: top;
  padding: .5em 1em;
  min-width: 300px
}

.text-page table tr:not(:last-child) td {
  border-bottom: 1px solid hsla(0,0%,100%,.03)
}

.text-page table td:not(:last-child) {
  border-right: 1px solid hsla(0,0%,100%,.03)
}

.text-page-container {
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto
}

@media (max-width: 1000px) {
  .text-page-container {
      padding:0 20px
  }
}

.footer {
  padding: 140px 40px 32px
}

@media (max-width: 1000px) {
  .footer {
      padding:56px 24px 24px
  }
}

.footer-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto
}

@media (max-width: 1000px) {
  .footer-container {
      gap:32px
  }
}

.footer-divider {
  width: 100%;
  height: 1px;
  background: hsla(0,0%,100%,.24)
}

@media (max-width: 1000px) {
  .footer-divider {
      display:none
  }
}

.footer-top {
  -ms-flex-align: center;
  align-items: center
}

.footer-bottom,.footer-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px
}

.footer-bottom {
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 14px;
  line-height: 18px;
  padding-top: 12px
}

@media (max-width: 600px) {
  .footer-bottom {
      -ms-flex-direction:column;
      flex-direction: column;
      padding-top: 0
  }
}

.footer-logo {
  display: block
}

.footer-logo-image {
  display: block;
  color: #fff
}

@media (max-width: 1000px) {
  .footer-logo-image {
      height:24px;
      width: auto
  }
}

.footer-social {
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width: 1000px) {
  .footer-social {
      gap:16px
  }
}

.footer-social-item,.footer-social-item-icon {
  display: block
}

@media (max-width: 1000px) {
  .footer-social-item-icon {
      width:20px;
      height: auto
  }
}

.footer-copyright {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2px;
  font-size: 17px;
  line-height: 24px
}

@media (max-width: 600px) {
  .footer-copyright {
      font-size:14px;
      line-height: 20px
  }
}

.footer-copyright-title {
  font-weight: 600
}

.footer-links {
  display: -ms-flexbox;
  display: flex;
  gap: 72px
}

@media (max-width: 600px) {
  .footer-links {
      display:grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 24px;
      row-gap: 32px
  }
}

.footer-links-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px
}

@media (max-width: 600px) {
  .footer-links-column {
      gap:8px
  }
}

.footer-links-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px
}

.footer-links-item {
  opacity: .4;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px
}

.footer-links-item:hover {
  opacity: 1
}

@media (max-width: 1000px) {
  .footer-links-item {
      font-size:14px;
      line-height: 18px
  }
}
